@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  padding: 0 !important;
  margin: 0 !important;
}
.card {
    margin: 10px !important;
}
.tour button {
  background-color: #fff;
  color: blue;
  padding: 5px 10px;
  border: solid 2px blue;
  outline: none;
}
.tour a {
  text-decoration: none;
}

.buddha .card {
  height: 100% !important;
}
.buddha .card img {
  height: 100% !important;
}
* img {
  object-fit: cover;
}
@media screen and (max-width: 1180px) {
  .anh {
    max-height: 150px;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .tour button {
    display: none;
  }
}
